body::after{
	content:"";
	clear:both;
	display:table;
}
td, dt, dd, p{
	color:gray;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 3px;
    //color: #000000;
    //font-weight: normal;
    //text-decoration: none;
    //font-style: normal;
    //font-variant: normal;
    //text-transform: none;
}
.img_caption{
	color:gray;
	letter-spacing: 1px;
}
aside{
	width:20%;
	float:left;
	position:relative;
	padding:10px 10px 10px 10px;
}
article{
	width:60%;
	float:left;
	padding:10px 10px 10px 10px;
}
.social_media_icons{
	width:70%;
	text-align:center;
}
h3{
	width:70%;
	text-align:center;
}
img{
	width:70%;
	height:70%;
	text-align:center;
}
.img_caption{
	width:70%;
	text-align:left;
}
table{
	text-align:center;
}
td{
	padding:5px;
}
